apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: exercises
  name: ping-pong
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong
  template:
    metadata:
      labels:
        app: ping-pong
    spec:
      volumes:
        - name: ping-pong-pv
          persistentVolumeClaim:
            claimName: ping-pong-pvc

      containers:
        - name: ping-pong
          image: ping-pong:1.2
          volumeMounts:
            - name: ping-pong-pv
              mountPath: /usr/src/app/ping-pong-pv
          env:
            - name: PING_PONG_FILE_PATH
              value: "./ping-pong-pv/ping-pong.txt"
            - name: PORT
              value: "8080"
            - name: GIN_MODE
              value: release
