apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: exercises
  name: ping-pong
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong
  template:
    metadata:
      labels:
        app: ping-pong
    spec:
      containers:
        - name: ping-pong
          image: ping-pong:1.3
          env:
            - name: PORT
              value: "8080"
            - name: GIN_MODE
              value: release
            - name: POSTGRES_ADDRESS
              value: "postgres-stset-0.postgres-svc:5432"
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: pingpong-secret
                  key: postgres_user
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: pingpong-secret
                  key: postgres_password
