apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  namespace: exercises
  name: ping-pong-pvc # name of the volume claim, this will be used in the deployment
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi