apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: todo-app-pvc # name of the volume claim, this will be used in the deployment
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 200Mi