apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: project
  name: todo-app-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-app-backend
  template:
    metadata:
      labels:
        app: todo-app-backend
    spec:
      containers:
        - name: todo-app-backend
          image: todo-app-backend:1.1
          env:
            - name: PORT
              value: "8080"
            - name: GIN_MODE
              value: release
            - name: POSTGRES_ADDRESS
              value: "postgres-stset-0.postgres-svc:5432"
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: todo-app-backend-secret
                  key: postgres_user
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: todo-app-backend-secret
                  key: postgres_password
