apiVersion: apps/v1
kind: Deployment
metadata:
  name: log-output
spec:
  replicas: 1
  selector:
    matchLabels:
      app: log-output
  template:
    metadata:
      labels:
        app: log-output
    spec:
      affinity:
        podAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchLabels:
                  app: ping-pong # k3d necessary
              topologyKey: kubernetes.io/hostname
      volumes: # Define volume
        - name: shared-files
          emptyDir: {}
        - name: ping-pong-pv
          persistentVolumeClaim:
            claimName: ping-pong-pvc
      containers:
        - name: log-output-generator
          image: log-output-generator:1.1
          volumeMounts:
            - name: shared-files
              mountPath: /usr/src/app/random-string-dir
          env:
            - name: RANDOM_STRING_FILE_PATH
              value: "./random-string-dir/random_string.txt"

        - name: log-output-server
          image: log-output-server:1.2
          volumeMounts:
            - name: shared-files
              mountPath: /usr/src/app/random-string-dir
            - name: ping-pong-pv
              mountPath: /usr/src/app/ping-pong-pv
          env:
            - name: RANDOM_STRING_FILE_PATH
              value: "./random-string-dir/random_string.txt"
            - name: PING_PONG_FILE_PATH
              value: "./ping-pong-pv/ping-pong.txt"
            - name: PING_PONG_SERVER_ADDRESS
              value: "http://ping-pong-svc:18081"
            - name: PORT
              value: "8080"
            - name: GIN_MODE
              value: release
