apiVersion: apps/v1
kind: Deployment
metadata:
  name: log-output
spec:
  replicas: 1
  selector:
    matchLabels:
      app: log-output
  template:
    metadata:
      labels:
        app: log-output
    spec:
      volumes: # Define volume
        - name: shared-files
          emptyDir: {}    
      containers:
        - name: log-output-generator
          image: log-output-generator:1.0
          volumeMounts:
          - name: shared-files
            mountPath: /usr/files   

        - name: log-output-server
          image: log-output-server:1.0
          volumeMounts:
          - name: shared-files
            mountPath: /usr/files