apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: exercises
  name: log-output
spec:
  replicas: 1
  selector:
    matchLabels:
      app: log-output
  template:
    metadata:
      labels:
        app: log-output
    spec:
      affinity:
        podAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchLabels:
                  app: ping-pong # k3d necessary
              topologyKey: kubernetes.io/hostname

      volumes: # Define volume
        - name: shared-files
          emptyDir: {}
        - name: ping-pong-pv
          persistentVolumeClaim:
            claimName: ping-pong-pvc
        - name: log-output-config-volumn
          configMap:
            name: log-output-config
            items:
            - key: information.txt
              path: information.txt

      containers:
        - name: log-output-generator
          image: log-output-generator:1.1
          volumeMounts:
            - name: shared-files
              mountPath: /usr/src/app/random-string-dir
          env:
            - name: RANDOM_STRING_FILE_PATH
              value: "./random-string-dir/random_string.txt"

        - name: log-output-server
          image: log-output-server:1.4
          volumeMounts:
            - name: shared-files
              mountPath: /usr/src/app/random-string-dir
            - name: ping-pong-pv
              mountPath: /usr/src/app/ping-pong-pv
            - name: log-output-config-volumn
              mountPath: /usr/src/app/config

          env:
            - name: RANDOM_STRING_FILE_PATH
              value: "./random-string-dir/random_string.txt"
            - name: PING_PONG_FILE_PATH
              value: "./ping-pong-pv/ping-pong.txt"
            - name: PING_PONG_SERVER_ADDRESS
              value: "http://ping-pong-svc:18081"
            - name: PORT
              value: "8080"
            - name: GIN_MODE
              value: release
            - name: CONFIG_DIR_PATH
              value: "/usr/src/app/config"
            - name: MESSAGE
              valueFrom:
                configMapKeyRef:
                  name: log-output-config
                  key: MESSAGE
          
          # 数据库就绪探针配置
          readinessProbe:
            initialDelaySeconds: 10 # Initial delay until the readiness is tested
            periodSeconds: 5 # How often to test
            httpGet:
               path: /
               port: 8080
